<!--<div id="multiselect-sample" class="control-section">
  <div class="col-lg-8 content-wrapper">
    <div class="control-styles">
      <h4>CheckBox</h4>
      <ejs-multiselect id='multiselect-checkbox' #checkbox [dataSource]='data' [placeholder]='checkWaterMark' [fields]='checkFields'
                       [mode]='mode' [popupHeight]='popHeight' [showDropDownIcon]='true' showSelectAll='true' [filterBarPlaceholder]='filterPlaceholder'></ejs-multiselect>
      <button (click) = "addAreas()" class="btn btn-primary">Add</button>
    </div>
  </div>
</div>-->

