<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

            <div *ngFor="let field of formFields" >
              <label for={{field.id}}>{{field.label}}</label>

              <input class="form-control" type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string'" ngModel="{{field.properties.value}}">
              <input class="form-control" type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'" ngModel="{{field.properties.value}}">
              <input class="form-control" type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'" ngModel="{{field.properties.value}}">
              <select class="form-control" name={{field.id}} ngModel *ngIf="field.type.name=='enum' && taskName!='Biranje recenzenata'">
                <option *ngFor="let val of enumValues" value={{val}}>
                  {{field.type.values[val]}}
                </option>
              </select>
            </div>
            <ejs-multiselect #rece *ngIf="taskName=='Biranje recenzenata'"  id='multiselect-checkbox' #checkbox [dataSource]='enumValues' [placeholder]='checkWaterMark' [fields]='checkFields'
                             [mode]='mode' [popupHeight]='popHeight' [showDropDownIcon]='true' showSelectAll='true' [filterBarPlaceholder]='filterPlaceholder'></ejs-multiselect>
            <br>
            <hr>
            <br>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

